table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

th
{
	text-align: center;
	background-color: LightGray;
}

li
{
	text-indent: 30px;
}

p, ul, li
{
	font: 15px arial, sans-serif;
}

h1
{
	font-family: 'Press Start 2P', cursive;
}